<div class="blueNavBumper"></div>
<div class="SecNavWrapper">
    <ul>
        <li>@Html.ActionLink("CREATE", "CreateCampaign")</li>
        <li>@Html.ActionLink("CURRENT", "CurrentCampaigns")</li>
        <li>@Html.ActionLink("COMPLETE", "CompleteCampaigns")</li>
    </ul>
</div>

