<div class="blueNavBumper"></div>
<div class="SecNavWrapper">
    <ul>
        <li>@Html.ActionLink("ALL ACTIVE", "ActiveInfluencers")</li>
        <li>@Html.ActionLink("PENDING", "PendingInfluencers")</li>
    </ul>
</div>
