@model IEnumerable<TrendPie.Models.Campaign>

@{
    ViewBag.Title = "Complete Campaigns";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Partial("_campaignMenu")
<div class="grayBack">
    <div class="campaignContentWrap">
        @if (Model.Any())
        {
            foreach (var campaign in Model)
            {
                <div class="campaignName">
                    @campaign.Name
                </div>
                <div class="campaignStart">
                    <span class="timeLable">Status:</span> @campaign.Status
                </div>
                <div class="campaignStart">
                    <span class="timeLable">End Date:</span> @campaign.ShortEndDate
                </div>
                <div class="editWrapper">
                    <a href="#"><div class="editCampaign"></div></a>
                </div>
            }
        }
        else
        {
            <div>No records found</div>
        }
    </div>
</div>
