@model IEnumerable<TrendPie.Models.PayoutReportViewModel>

@{
    ViewBag.Title = "Payout Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    @if (Model.Any())
    {
        foreach (var campaign in Model)
        {
            <div>
                <div>
                    <span class="campaignName">@campaign.Campaign.Name</span> <a href="" class="btn btn-default">EXPORT</a>
                </div>
                <div class="timeLable">
                    Budget: $@campaign.Campaign.Budget
                </div>
                <div class="timeLable">
                    Start Date: @campaign.Campaign.ShortStartDate
                </div>
                <br />
                <div>
                    @if (campaign.Users.Any())
                    {
                        foreach (var user in campaign.Users)
                        {
                            <div>
                                <div class="timeLable">
                                    @user.FirstName @user.LastName - $@user.AmountPerCampaign
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="timeLable">No influencers signed up</div>
                    }
                </div>
                <br/>
            </div>
        }
    }
    else
    {
        <div>No records found</div>
    }
</div>

