
@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>ThankYou</h2>

<p>Thank you for registering. Your account is under review and you will be notified once a decision has been made.</p>