<div class="blueNavBumper"></div>
<div class="SecNavWrapper">
    <ul>
        <li>@Html.ActionLink("WALLET", "Wallet")</li>
        <li>@Html.ActionLink("PROFILE", "Index")</li>
        <li>@Html.ActionLink("SOCIAL", "Social")</li>
    </ul>
</div>

