<div class="blueNavBumper"></div>
<div class="SecNavWrapper">
    <ul>
        <li>@Html.ActionLink("PENDING", "Pending")</li>
        <li>@Html.ActionLink("LIVE NOW", "Live")</li>
        <li>@Html.ActionLink("COMPLETE", "Complete")</li>
    </ul>
</div>

